.loader-wraper {
  text-align: center;
  /* margin-top: 48px; */
  display: none;
}
.loader-wraper.active {
  display: block;
}

.loader {
  width: 140px;
  height: 16px;
  display: inline-block;
  background-color: var(--main-btn-hover-color);
  border: 1px solid var(--main-btn-hover-color);
  border-radius: 4px;
  background-image: linear-gradient(
    45deg,
    rgb(255, 255, 255) 25%,
    transparent 25%,
    transparent 50%,
    rgba(230, 230, 230, 0.883) 50%,
    rgb(255, 255, 255) 75%,
    transparent 75%,
    transparent
  );
  font-size: 30px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
  margin: 0 auto;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
